<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }

    input {
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }

    button {
        padding: 10px;
        background-color: rgb(30, 172, 219);
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
</style>
        

<body>
    <div class="login-container">
        <h1>Assignment for Quadiro Technologies - User Login</h1>
        <form action="/user/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="/user/signup">Signup</a><br>
    </div>
</body>

</html>